#slider {
    width: 100%;  /* 宽度占满整个视口 */
    height: 100%; /* 高度占满整个视口 */
    overflow: hidden;
    position: relative;
}
#images {
    display: flex;
    transition: transform 0.5s ease;
}
.image {
    min-width: 100%; /* 每张图片宽度占满100% */
    min-height: 100%; 
}
